streamlit==1.40.2
pypdf==5.1.0
langchain==0.3.9
langchain-core==0.3.21
langchain-community==0.3.9
langchain-openai==0.2.11
langchain-groq==0.2.1
langchainhub==0.1.21
langsmith==0.1.147
trulens_eval==1.2.9
openai==1.57.1
chromadb==0.4.15
pysqlite3-binary==None
bs4==0.0.2
tiktoken==0.8.0
tenacity==8.3.0
trulens==1.2.9
openpyxl==None
trulens.apps.langchain==1.2.10
trulens.apps.llamaindex==1.2.10
trulens-providers-openai>=1.0.0
trulens-eval==1.2.9

